/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 13, 2019, 11:47:57 PM
    Author     : Irfan
*/

.nav-rows{
    width:16.6% !important;
    clear:none !important;
}
.full-width-slider input {
    display: none;
}

@media(max-width: 630px) {
    .nav-rows{
        width:33.3% !important;
        clear:none !important;
    }
}
/*dropdown*/
.ui-selectmenu.ui-popup .ui-input-search {
        margin-left: .5em;
        margin-right: .5em;
}
.ui-selectmenu.ui-dialog .ui-content {
        padding-top: 0;
}
.ui-selectmenu.ui-dialog .ui-selectmenu-list {
        margin-top: 0;
}
.ui-selectmenu.ui-popup .ui-selectmenu-list li.ui-first-child .ui-btn {
        border-top-width: 1px;
        -webkit-border-radius: 0;
        border-radius: 0;
}
.ui-selectmenu.ui-dialog .ui-header {
        border-bottom-width: 1px;
}
/*theme b changed*/
.ui-bar-b, .ui-page-theme-b .ui-bar-inherit, html .ui-bar-b .ui-bar-inherit, html .ui-body-b .ui-bar-inherit, html body .ui-group-theme-b .ui-bar-inherit{
    background-color: #38c;
    border-color: #38c;
}
/*header text issue fixed*/ 
.ui-header .ui-title, .ui-footer .ui-title{
    margin: 0 29%;
}
/*[rogress bar handler hide*/
.ui-slider-track .ui-btn.ui-slider-handle{
    display:none;
}
/*opacity of progress bar*/
.ui-state-disabled{
    opacity: 0.7;
}

/*p, body, td{
               font-size:11pt;
           }*/
/*transparent*/
.calendar_default_event{
    opacity: 0.7;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('./img/ilgqWuX.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('./img/Q9BGTuy.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('./img/Z8q7ww7.png');
}
.error{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('./img/GnyDvKN.png');
}
.validation{
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('./img/GnyDvKN.png');
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.stepwizard-step p {
    margin-top: 0px;
    color:#666;
    
}
.stepwizard-step a{
    text-decoration: none;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#bbb;
}
.stepwizard-row:before {
    top: 14px;
    left:12px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 97%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}
.stepwizard-step {
    
    display: table-cell;
    position: relative;
}
.stepwizard-row .stepwizard-step:nth-child(1){
    text-align:left;
    width:12.5%;
}
.stepwizard-row .stepwizard-step:nth-child(2),.stepwizard-row .stepwizard-step:nth-child(3),.stepwizard-row .stepwizard-step:nth-child(4){
    text-align:center;
    width:25%;
}
.stepwizard-row .stepwizard-step:nth-child(5){
    text-align:right;
    width:12.5%;
}
.btn-circle {
    width: 30px;
   
    text-align: center;
    padding: 6px 0 !important;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 16px !important;
}
.btn-success{
    color: white !important; background: rgb(0, 128, 0); border-color: green;
}
.btn-warning{
    color:white !important; background:#fba840; border-color:#fba840;cursor: default;
}

.table{
    width:100%;
}